@{
    ViewData["Title"] = "Dashboard";
    Layout = "~/Views/Shared/_LayoutDashboard.cshtml";
}
<div id="content" class="flex ">
                <!-- ############ Main START-->
                    <div class="page-hero page-container " id="page-hero">
                        <div class="padding d-flex">
                            <div class="page-title">
                                <h2 class="text-md text-highlight">Dashboard</h2>
                                <small class="text-muted">Welcome aboard, John
                                    <strong>@ViewBag.UserName</strong>
                                </small>

                               
                            </div>
                            <div class="flex"></div>
                        </div>
                    </div>
                     <div id="chart_div"></div>
                <!-- ############ Main END-->
 <div>           </div>
 </div>>
 


 