@{
    ViewData["Title"] = "Dashboard";
    Layout = "~/Views/Shared/_LayoutDashboard.cshtml";
}
<div id="content" class="flex ">
                <!-- ############ Main START-->
                <div>
                    <div class="page-hero page-container " id="page-hero">
                        <div class="padding d-flex">
                            <div class="page-title">
                                <h2 class="text-md text-highlight">Dashboard</h2>
                                <small class="text-muted">Welcome aboard,
                                    <strong>@ViewBag.UserName</strong>
                                </small>
                            </div>
                            <div class="flex"></div>
                            <div>
                                <a href="https://themeforest.net/item/basik-responsive-bootstrap-web-admin-template/23365964" class="btn btn-md text-muted">
                                    <span class="d-none d-sm-inline mx-1">Buy this Item</span>
                                    <i data-feather="arrow-right"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="page-content page-container" id="page-content">
                        <div class="padding">
                            <div class="row row-sm sr">
                                <div class="col-md-12 col-lg-8">
                                    <div class="row row-sm">
                                        <div class="col-md-8">
                                            <div class="row row-sm">
                                                <div class="col-12">
                                                    <div class="card">
                                                        <div class="card-body">
                                                            <div class="col-md-4 d-flex">
                                                            <div class="card flex">
                                                <div class="card-body text-center">
                                                    <div class="pt-3">
                                                        <div style="height: 200px" class="pos-rlt">
                                                            <div class="pos-abt w-100 h-100 d-flex align-items-center justify-content-center" align="center"" id="commentPieChart">
                                                            </div>
                                                            </div>
                                                            </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            
                                        </div>
                                        <div class="col-md-4 d-flex">
                                            <div class="card flex">
                                                <div class="card-body text-center">
                                                    <div class="pt-3">
                                                        <div style="height: 200px" class="pos-rlt">
                                                            <div class="pos-abt w-100 h-100 d-flex align-items-center justify-content-center" id="piechart">
                                                            </div>
                                                            
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-12 col-lg-4 d-flex">
                                    <div class="card flex">
                                        <div class="card-body">
                                            <div class="px-4">
                                                <div id="postPieChart" style="height: 200px" class="d-flex align-items-center justify-content-center">
                                                    <div class="loading"></div>
                                                </div>
                                                <div class="row text-center" >
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                        </div>
                    </div>
                </div>
                <!-- ############ Main END-->
 <div>           </div>
 </div>>
 </div>
 