@model AlutaApp.Models.Institution

@{
    ViewData["Title"] = "DeleteInstitution";
    Layout = "~/Views/Shared/_LayoutDashboard.cshtml";
}

<div class="col-sm-12">
    <div class="card">
        <div class="card-header">
             <h4> Delete Institution</h4>
        </div>
        <div class="card-body">
              <dl class="row">
                <dt class = "col-sm-2">
                    @Html.DisplayNameFor(model => model.Name)
                </dt>
                <dd class = "col-sm-10">
                    @Html.DisplayFor(model => model.Name)
                </dd>
                <dt class = "col-sm-2">
                    @Html.DisplayNameFor(model => model.Abbreviation)
                </dt>
                <dd class = "col-sm-10">
                    @Html.DisplayFor(model => model.Abbreviation)
                </dd>
            </dl>
            <form asp-action="DeleteInstitution">
                <input type="hidden" asp-for="Id" />
                <input type="submit" value="Delete" class="btn btn-danger" onclick="return confirm('Are you sure you delete this record?')" /> |
                <a asp-action="Institutions">Back to List</a>
            </form>
        </div>
        
    </div>                               
</div>

