@model IEnumerable<AlutaApp.Models.Department>

@{
    ViewData["Title"] = "Departments";
    Layout = "~/Views/Shared/_LayoutDashboard.cshtml";
}

    <div class="page-title-box">
        <div class="row align-items-center">
            <div class="col-sm-6">
                <h4 class="page-title">Departments</h4>
            </div>
                              
        </div> <!-- end row -->
    </div>
    <!-- end page-title -->

    <div class="row">
  
        <div class="col-sm-6 col-xl-6">
             @{
                    var models = new Department();
                    await Html.RenderPartialAsync("_AddDepartmentPartial", models);

                }
               
           
        </div>
                               
    </div>

     <hr />

    <div class="row">
  
        <div class="col-sm-12 col-xl-12">
             
            @{

                    await Html.RenderPartialAsync("_DepartmentListPartial", Model);

                }
        </div>
                               
    </div>

