@model IEnumerable<AlutaApp.Models.Institution>

@{
    ViewData["Title"] = "Institution";
    Layout = "~/Views/Shared/_LayoutDashboard.cshtml";
}

 <div class="page-title-box">
        <div class="row align-items-center">
            <div class="col-sm-6">
                <h4 class="page-title">Institutions</h4>
            </div>
                              
        </div> <!-- end row -->
    </div>
    <!-- end page-title -->

    <div class="row">
  
        <div class="col-sm-12 col-xl-12">
   
            <small class="text-muted"></small>
            <br />
            <div>
            @{
                    var models = new Institution();
                    await Html.RenderPartialAsync("_AddInstitutionPartial", models);

                }
                <hr />
                @{

                    await Html.RenderPartialAsync("_SearchInstitutionPartial", Model);

                }
            </div>
        </div>
 
 </div>                               
                               
                               
<script src="~/libs/jquery/dist/jquery.min.js"></script>
<script>
$(document).ready(function() {
    $("#SearchName").keydown(function() {
        var text = this.value;
        //console.log($("#SearchName").val());
        $.ajax({
            type: "GET",
            url: "/Administrators/SearchInstitution?searchText="+text,
            contentType:"html",
            success: function(data) {
                $("#search-results").html(data);
            }
        })
    })
})
</script>
