@model AlutaApp.Models.User

@{
    ViewData["Title"] = "UpdatePoint";
    Layout = "~/Views/Shared/_LayoutDashboard.cshtml";
}

<div class="col-sm-12">
    <div class="card">
        <div class="card-header">
             <h4> Points2Earn</h4>
        </div>
        <div class="card-body">
            <form asp-action="UpdatePoint">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="@Model.PointsLogs" class="control-label"></label>
                <input asp-for="@Model.PointsLogs" class="form-control" />
                <span asp-validation-for="@Model.PointsLogs" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Points" class="control-label"></label>
                <input asp-for="Points" class="form-control" />
                <span asp-validation-for="Points" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Update" class="btn btn-success" />
            </div>
        </form>

            <div>
                <a asp-action="Points">Back to List</a>
            </div>
        </div>
        
    </div>                               
</div>

