@model AlutaApp.Models.Department
@{
    ViewData["Title"] = "ViewDepartment";
    Layout = "~/Views/Shared/_LayoutDashboard.cshtml";
}



<div class="col-sm-12">
                                    <div class="card">
                                        <div class="card-header">
                                            Department
                                        </div>
                                        <div class="card-body">
                                            <h5 class="card-title">@Model.Name DETAILS</h5>
                                            <p class="card-text">Name:  @Model.Name</p>
                                        </div>
                                    </div>
                                    
                                    </div>
   
                                    