@model AlutaApp.Models.Points2Earn
@{
    ViewData["Title"] = "ViewPoint";
    Layout = "~/Views/Shared/_LayoutDashboard.cshtml";
}



<div class="col-sm-12">
                                    <div class="card">
                                        <div class="card-header">
                                            Points
                                        </div>
                                        <div class="card-body">
                                            
                                            <p class="card-text">Point:  @Model.Points</p>
                                            <p class="card-text">Category: @Model.Category</p>
                                        </div>
                                    </div>
                                    
                                    </div>
   
                                    