@model AlutaApp.Models.Department
<h4>Add Department</h4>
<div class="search-bar">
    @using (Html.BeginForm("AddDepartment", "Administrators"))
    {

        <div class="input-group mb-3">
          <input type="text" name="Name" class="form-control" placeholder="Name">
          <div class="input-group-append">
            <button class="btn btn-success" type="submit">Add</button>
          </div>
        </div>
        
    }
</div>

