@model AlutaApp.Models.Trivia
<div class="search-bar">
    @using (Html.BeginForm("Create", "Trivias"))
    {
        <div class="input-group mb-12 mb-3">
                                               
        <input type="datetime-local" name="PlayDate" class="form-control col-12">|
        <input class="btn btn-primary" type="submit" value="Add"/>
    </div>
                                          
    }
</div>

