

@using X.PagedList;
@using X.PagedList.Mvc.Core;
@using X.PagedList.Web.Common;
@model X.PagedList.IPagedList<AlutaApp.Models.DocumentCommentLike>
@foreach (var item in Model) {
<table id="datatable" class="table table-theme table-row v-middle" data-plugin="dataTable">
                                    <thead>
                                        <tr>
                                            <th><span class="text-muted">User</span></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        

                                        <tr class="" data-id="16">
                                            <td >
                                                <small class="text-muted">@item.UserId</small>
                                                
                                            </td>
                                         
                                            
                                           
                                        </tr>
                                
                                    </tbody>
<div>
                                    Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber)
            of @Model.PageCount   @Html.PagedListPager(Model, page => Url.Action("Details/"+@item.DocumentCommentId, new { page = page }),
            new PagedListRenderOptions
                    {
                        LiElementClasses = new string[] { "page-item"},
                        PageClasses = new string[] {"page-link"}
                    } )
                    
               
                                </div>
                                </table>
                                


                              
}
