@model IEnumerable<AlutaApp.Models.Institution>
<br />
<h4>Institutions</h4>
 
    <table id="datatable" class="table table-bordered table-striped dt-responsive nowrap">
        <thead>
            <tr>
               <tr>
                    <th><span class="text-muted">Name</span></th>
                    <th><span class="text-muted">Abbreviation</span></th>
                    <th><span class="text-muted text-center">Actions</span></th>
                </tr>
            </tr>
        </thead>
        <tbody id="search-results">
            @foreach (var item in Model) {

           <tr class="" data-id="16">
                    <td style="min-width:30px;text-align:center">@item.Name</td>
                    <td>@item.Abbreviation</td>
                
                    <td width="10%">
                    
                    <div class="btn-group">
                        <i class="fas fa-ellipsis-v text-center cursor" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                       
                        </i>
                   
                        <div class="dropdown-menu shadow animated--grow-in">
                            <a style='margin-right:16px' href="../../Administrators/ViewDetails/@item.Id" class="dropdown-item">
                                <i class="fas fa-eye text-success"></i> View
                            </a>
                            <a style='margin-right:16px' href="../../Administrators/Edit/@item.Id" class="dropdown-item">
                                <i class="fas fa-edit text-warning"></i> Edit
                            </a>
                             <a style='margin-right:16px' href="../../Administrators/DeleteInstitution/@item.Id" class="dropdown-item">
                                <i class="fas fa-trash text-danger"></i> Delete
                            </a>
                        </div>

                    </div>
                    </td>
                </tr>
        }
        </tbody>

    </table>

