<!DOCTYPE html>
<html lang="en">
 <head>
        <meta charset="utf-8" />
        <title>Signin </title>
        <meta name="description" content="Responsive, Bootstrap, BS4" />
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
        <!-- style -->
        <!-- build:css ../assets/css/site.min.css -->
        <link href='https://fonts.googleapis.com/css?family=Poppins' rel='stylesheet'>  
        <link rel="stylesheet" href="~/assets/css/bootstrap.css" type="text/css" />
        <link rel="stylesheet" href="~/assets/css/theme.css" type="text/css" />
        <link rel="stylesheet" href="~/assets/css/style.css" type="text/css" />
        <!-- endbuild -->
    </head>
    <body class="layout-row">
        <div class="d-flex flex-column flex">
            <div class="row no-gutters h-100">
                <div class="col-md-4 bg-primary" style="">
                    <div class="p-3 p-md-5 d-flex flex-column h-100">
                        <h1 class="mb-3 text-white display-3">Aluta</h1>
                        <div class="text-fade">Your University Companion</div>
                        <div class="d-flex flex align-items-center justify-content-center">
                        </div>
                        <div class="d-flex text-sm text-fade">
                            <a href="index.html" class="text-white">About</a>
                            <span class="flex"></span>
                            <a href="#" class="text-white mx-1">Terms</a>
                            <a href="#" class="text-white mx-1">Policy</a>
                        </div>
                    </div>
                </div>
    <div>
            @RenderBody()
    </div>

     </div>
        </div>
        <!-- build:js ../assets/js/site.min.js -->
        <!-- jQuery -->
        <script src="~/libs/jquery/dist/jquery.min.js"></script>
        <!-- Bootstrap -->
        <script src="~/libs/popper.js/dist/umd/popper.min.js"></script>
        <script src="~/libs/bootstrap/dist/js/bootstrap.min.js"></script>
        <!-- ajax page -->
        <script src="~/libs/pjax/pjax.min.js"></script>
        <script src="~/assets/js/ajax.js"></script>
        <!-- lazyload plugin -->
        <script src="~/assets/js/lazyload.config.js"></script>
        <script src="~/assets/js/lazyload.js"></script>
        <script src="~/assets/js/plugin.js"></script>
        <!-- scrollreveal -->
        <script src="~/libs/scrollreveal/dist/scrollreveal.min.js"></script>
        <!-- feathericon -->
        <script src="~/libs/feather-icons/dist/feather.min.js"></script>
        <script src="~/assets/js/plugins/feathericon.js"></script>
        <!-- theme -->
        <script src="~/assets/js/theme.js"></script>
        <script src="~/assets/js/utils.js"></script>
        <!-- endbuild -->
    </body>
</html>
