@using Microsoft.AspNetCore.Identity
@inject UserManager<ApplicationUser> UserManager

@{
    ViewData["Title"] = "Dashboard";
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">

<head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
        <title>Aluta - Dashboard</title>
        <meta content="Aluta" name="description" />
        <meta content="Aluta" name="author" />
       @* <link rel="shortcut icon" href="~/assets/images/favicon.ico">*@


        <link href="~/assets/css/bootstrap.min.css" rel="stylesheet" type="text/css">
        <link href="~/assets/css/metismenu.min.css" rel="stylesheet" type="text/css">
        <link href="~/assets/css/icons.css" rel="stylesheet" type="text/css">
        <link href="~/assets/css/style.css" rel="stylesheet" type="text/css">
        <!-- DataTables -->
        <link href="~/plugins/datatables/dataTables.bootstrap4.min.css" rel="stylesheet" type="text/css" />
        <link href="~/plugins/datatables/buttons.bootstrap4.min.css" rel="stylesheet" type="text/css" />

        <!--Morris Chart CSS -->
        <link rel="stylesheet" href="~/plugins/morris/morris.css">

        <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
       

        <!-- Responsive datatable examples -->
        <link href="~/plugins/datatables/responsive.bootstrap4.min.css" rel="stylesheet" type="text/css" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.min.css" integrity="sha512-/zs32ZEJh+/EO2N1b0PEdoA10JkdC3zJ8L5FTiQu82LR9S/rOQNfQN7U59U9BC12swNeRAz3HSzIL2vpp4fv3w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.2/css/bootstrap.css" type="text/css">
<link rel="stylesheet" href="https://cdn.datatables.net/1.12.1/css/dataTables.bootstrap4.min.css" type="text/css">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.min.js" integrity="sha512-s+xg36jbIujB2S2VKfpGmlC3T5V2TF3lY48DX7u2r9XzGzgPsa6wTpOQA7J9iffvdeBN0q9tKzRxVxw1JviZPg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
         <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
         <style>
             .cursor{
                 cursor:pointer;
             }
             .card-bordered {
    border: 1px solid #ebebeb;
}

.card {
    border: 0;
    border-radius: 0px;
    margin-bottom: 30px;
    -webkit-box-shadow: 0 2px 3px rgba(0,0,0,0.03);
    box-shadow: 0 2px 3px rgba(0,0,0,0.03);
    -webkit-transition: .5s;
    transition: .5s;
}

.padding {
    padding: 3rem !important
}

body {
    background-color: #f9f9fa
}

.card-header:first-child {
    border-radius: calc(.25rem - 1px) calc(.25rem - 1px) 0 0;
}


.card-header {
    display: -webkit-box;
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    align-items: center;
    padding: 15px 20px;
    background-color: transparent;
    border-bottom: 1px solid rgba(77,82,89,0.07);
}

.card-header .card-title {
    padding: 0;
    border: none;
}

h4.card-title {
    font-size: 17px;
}

.card-header>*:last-child {
    margin-right: 0;
}

.card-header>* {
    margin-left: 8px;
    margin-right: 8px;
}

.btn-secondary {
    color: #4d5259 !important;
    background-color: #e4e7ea;
    border-color: #e4e7ea;
    color: #fff;
}

.btn-xs {
    font-size: 11px;
    padding: 2px 8px;
    line-height: 18px;
}
.btn-xs:hover{
    color:#fff !important;
}




.card-title {
    font-family: Roboto,sans-serif;
    font-weight: 300;
    line-height: 1.5;
    margin-bottom: 0;
    padding: 15px 20px;
    border-bottom: 1px solid rgba(77,82,89,0.07);
}


.ps-container {
    position: relative;
}

.ps-container {
    -ms-touch-action: auto;
    touch-action: auto;
    overflow: hidden!important;
    -ms-overflow-style: none;
}

.media-chat {
    padding-right: 64px;
    margin-bottom: 0;
}

.media {
    padding: 16px 12px;
    -webkit-transition: background-color .2s linear;
    transition: background-color .2s linear;
}

.media .avatar {
    flex-shrink: 0;
}

.avatar {
    position: relative;
    display: inline-block;
    width: 36px;
    height: 36px;
    line-height: 36px;
    text-align: center;
    border-radius: 100%;
    background-color: #f5f6f7;
    color: #8b95a5;
    text-transform: uppercase;
}

.media-chat .media-body {
    -webkit-box-flex: initial;
    flex: initial;
    display: table;
}

.media-body {
    min-width: 0;
}

.media-chat .media-body p {
    position: relative;
    padding: 6px 8px;
    margin: 4px 0;
    background-color: #f5f6f7;
    border-radius: 3px;
    font-weight: 100;
    color:#9b9b9b;
}

.media>* {
    margin: 0 8px;
}

.media-chat .media-body p.meta {
    background-color: transparent !important;
    padding: 0;
    opacity: .8;
}

.media-meta-day {
    -webkit-box-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    align-items: center;
    margin-bottom: 0;
    color: #8b95a5;
    opacity: .8;
    font-weight: 400;
}

.media {
    padding: 16px 12px;
    -webkit-transition: background-color .2s linear;
    transition: background-color .2s linear;
}

.media-meta-day::before {
    margin-right: 16px;
}

.media-meta-day::before, .media-meta-day::after {
    content: '';
    -webkit-box-flex: 1;
    flex: 1 1;
    border-top: 1px solid #ebebeb;
}

.media-meta-day::after {
    content: '';
    -webkit-box-flex: 1;
    flex: 1 1;
    border-top: 1px solid #ebebeb;
}

.media-meta-day::after {
    margin-left: 16px;
}

.media-chat.media-chat-reverse {
    padding-right: 12px;
    padding-left: 64px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
    flex-direction: row-reverse;
}

.media-chat {
    padding-right: 64px;
    margin-bottom: 0;
}

.media {
    padding: 16px 12px;
    -webkit-transition: background-color .2s linear;
    transition: background-color .2s linear;
}

.media-chat.media-chat-reverse .media-body p {
    float: right;
    clear: right;
    background-color: #48b0f7;
    color: #fff;
}

.media-chat .media-body p {
    position: relative;
    padding: 6px 8px;
    margin: 4px 0;
    background-color: #f5f6f7;
    border-radius: 3px;
}


.border-light {
    border-color: #f1f2f3 !important;
}

.bt-1 {
    border-top: 1px solid #ebebeb !important;
}

.publisher {
    position: relative;
    display: -webkit-box;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    padding: 12px 20px;
    background-color: #f9fafb;
}

.publisher>*:first-child {
    margin-left: 0;
}

.publisher>* {
    margin: 0 8px;
}

.publisher-input {
    -webkit-box-flex: 1;
    flex-grow: 1;
    border: none;
    outline: none !important;
    background-color: transparent;
}

button, input, optgroup, select, textarea {
    font-family: Roboto,sans-serif;
    font-weight: 300;
}

.publisher-btn {
    background-color: transparent;
    border: none;
    color: #8b95a5;
    font-size: 16px;
    cursor: pointer;
    overflow: -moz-hidden-unscrollable;
    -webkit-transition: .2s linear;
    transition: .2s linear;
}

.file-group {
    position: relative;
    overflow: hidden;
} 

.publisher-btn {
    background-color: transparent;
    border: none;
    color: #cac7c7;
    font-size: 16px;
    cursor: pointer;
    overflow: -moz-hidden-unscrollable;
    -webkit-transition: .2s linear;
    transition: .2s linear;
} 

.file-group input[type="file"] {
    position: absolute;
    opacity: 0;
    z-index: -1; 
    width: 20px;
}

.text-info {
    color: #48b0f7 !important;
}
         </style>
    </head>

    <body>

        <!-- Begin page -->
        <div id="wrapper">

            <!-- Top Bar Start -->
            <div class="topbar">

                <!-- LOGO -->
                <div class="topbar-left">
                    <a href="../../Administrators/Dashboard" class="logo">
                        <span class="logo-light">
                            <i class="mdi mdi-camera-control"></i> Aluta
                        </span>
                        <span class="logo-sm">
                            <i class="mdi mdi-camera-control"></i>
                        </span>
                    </a>
                </div>

                <nav class="navbar-custom">
                    <ul class="navbar-right list-inline float-right mb-0">
                       

                        <li class="dropdown notification-list list-inline-item">
                            <div class="dropdown notification-list nav-pro-img">
                                <a class="dropdown-toggle nav-link arrow-none nav-user" data-toggle="dropdown" href="#" role="button" aria-haspopup="false" aria-expanded="false">
                                  
                                    Welcome,  @UserManager.GetUserName(User) <i class="mdi mdi-account-circle mdi-36px"></i>
                                </a>
                                <div class="dropdown-menu dropdown-menu-right profile-dropdown ">
                                    <!-- item-->
                               
                                    <a class="dropdown-item text-danger" href="../../Account/Logout"><i class="mdi mdi-power text-danger"></i> Logout</a>
                                </div>
                            </div>
                        </li>

                    </ul>

                    <ul class="list-inline menu-left mb-0">
                        <li class="float-left">
                            <button class="button-menu-mobile open-left waves-effect">
                                <i class="mdi mdi-menu"></i>
                            </button>
                        </li>
                       @* <li class="d-none d-md-inline-block">
                            <form role="search" class="app-search">
                                <div class="form-group mb-0">
                                    <input type="text" class="form-control" placeholder="Search..">
                                    <button type="submit"><i class="fa fa-search"></i></button>
                                </div>
                            </form>
                        </li>*@
                    </ul>

                </nav>

            </div>
            <!-- Top Bar End -->

            <!-- ========== Left Sidebar Start ========== -->
            <div class="left side-menu">
                <div class="slimscroll-menu" id="remove-scroll">

                    <!--- Sidemenu -->
                    <div id="sidebar-menu">
                        <!-- Left Menu Start -->
                        <ul class="metismenu" id="side-menu">
                           
                            <li>
                                <a href="../../Administrators/Dashboard" class="waves-effect">
                                    <i class="icon-accelerator"></i> <span> Dashboard</span>
                                </a>
                            </li>
                            
                            <li>
                                <a href="../../Administrators/Institutions" class="waves-effect">
                                    <i class="icon-website-2"></i>
                                    <span> Institutions 
                                       
                                        </span></a>
                                
                            </li>

                            <li>
                                <a href="../../Administrators/Departments" class="waves-effect"><i class="icon-squares"></i><span> Departments </span></a>
                            </li>
                            
                             <li>
                                <a href="../../Administrators/Posts" class="waves-effect"><i class="ti-comments"></i><span> Posts </span></a>
                            </li>

                             <li>
                                <a href="../../Administrators/Documents" class="waves-effect"><i class="far fa-folder-open"></i><span> Documents </span></a>
                            </li>

                             <li>
                                <a href="../../Trivias/Trivias" class="waves-effect"><i class="ti-dribbble"></i><span> Trivias </span></a>
                            </li>

                             <li>
                                <a href="../../TGIFMatches/TGIFs" class="waves-effect"><i class="ti-gift"></i><span> TGIFs </span></a>
                            </li>

                             <li>
                                <a href="../../TimeTables/TimeTables" class="waves-effect"><i class="mdi mdi-calendar-clock"></i><span> TimeTables </span></a>
                            </li>

                             <li>
                                <a href="../../CGPAs/CGPAs" class="waves-effect"><i class="mdi mdi-calculator"></i><span> CGPAs </span></a>
                            </li>

                             <li>
                                <a href="../../Status/Index" class="waves-effect"><i class="ti-loop"></i><span> Status </span></a>
                            </li>

                             <li>
                                <a href="javascript:void(0);" class="waves-effect"><i class="mdi mdi-account-group"></i><span> Users <span class="float-right menu-arrow"><i class="mdi mdi-chevron-right"></i></span> </span></a>
                                <ul class="submenu">
                                 <li>
                                    <a href="../../Administrators/UsersAccount" class="waves-effect"><i class="fas fa-users"></i><span> All Users </span></a>
                                </li>
                                    <li><a href="../../Users/ActiveUsers" class="waves-effect"><i class="icon-calendar"></i><span> Active Users </span></a></li>
                                    <li>
                                        <a href="../../Users/InActiveUsers" class="waves-effect"><i class="icon-calendar"></i><span> InActive Users </span></a>
                                    </li>
                                
                                </ul>
                              </li>

                             <li>
                                <a href="../../Notifications/Index" class="waves-effect"><i class="ti-alert"></i><span> Notifications </span></a>
                            </li>

                             <li>
                                <a href="../../Promotions/Promotions" class="waves-effect"><i class="icon-tv-monitor"></i><span> Promotions </span></a>
                            </li>

                            <li>
                                <a href="../../BannerAds/Index" class="waves-effect"><i class="icon-pricetag"></i><span> BannerAds </span></a>
                            </li>

                            <li>
                                <a href="../../ChatGroups/Index" class="waves-effect"><i class="icon-dialogue-text"></i><span> Chat Groups </span></a>
                            </li>

                            <li>
                                <a href="../../Messages/GetMessages" class="waves-effect"><i class="icon-mail"></i><span> Messages </span></a>
                            </li>

                  
                          
                                <li>
                                    <a href="javascript:void(0);" class="waves-effect"><i class="ti-world"></i><span> Authorization <span class="float-right menu-arrow"><i class="mdi mdi-chevron-right"></i></span> </span></a>
                                    <ul class="submenu">
                                
                                        <li><a href="../../Account/AllUsers">Manage Users</a></li>
                                        <li><a href="../../ApplicationRole/Index">Manage Roles</a></li>
                                
                                    </ul>
                                </li>
                            
                             

                        </ul>

                    </div>
                    <!-- Sidebar -->
                    <div class="clearfix"></div>

                </div>
                <!-- Sidebar -left -->

            </div>
            <!-- Left Sidebar End -->

            <!-- ============================================================== -->
            <!-- Start right Content here -->
            <!-- ============================================================== -->
            <div class="content-page">
                <!-- Start content -->
                <div class="content">
                    <div class="container-fluid">
                       

                  

                                @RenderBody()        

                        
                       
                    <!-- container-fluid -->

                </div>
                <!-- content -->

                <footer class="footer">
                    © 2022 Aluta.
                </footer>

            </div>
            <!-- ============================================================== -->
            <!-- End Right content here -->
            <!-- ============================================================== -->

        </div>
        <!-- END wrapper -->

        <!-- jQuery  -->
        <script src="~/assets/js/jquery.min.js"></script>
     
        <script src="https://cdn.datatables.net/1.12.1/js/jquery.dataTables.min.js"></script>
        <script src="https://cdn.datatables.net/1.12.1/js/dataTables.bootstrap4.min.js"></script>
        <script src="~/assets/js/bootstrap.bundle.min.js"></script>
        <script src="~/assets/js/metismenu.min.js"></script>
        <script src="~/assets/js/jquery.slimscroll.js"></script>
        <script src="~/assets/js/waves.min.js"></script>

        <!-- chartjs js -->
        <script src="~/plugins/chartjs/chart.min.js"></script>
        <script src="~/assets/pages/chartjs.init.js"></script>  

         <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
        
        <!-- Required datatable js -->
        <script src="~/plugins/datatables/jquery.dataTables.min.js"></script>
        <script src="~/plugins/datatables/dataTables.bootstrap4.min.js"></script>
        <!-- Buttons examples -->
        <script src="~/plugins/datatables/dataTables.buttons.min.js"></script>
        <script src="~/plugins/datatables/buttons.bootstrap4.min.js"></script>
        <script src="~/plugins/datatables/jszip.min.js"></script>
        <script src="~/plugins/datatables/pdfmake.min.js"></script>
        <script src="~/plugins/datatables/vfs_fonts.js"></script>
        <script src="~/plugins/datatables/buttons.html5.min.js"></script>
        <script src="~/plugins/datatables/buttons.print.min.js"></script>
        <script src="~/plugins/datatables/buttons.colVis.min.js"></script>
        <!-- Responsive examples -->
        <script src="~/plugins/datatables/dataTables.responsive.min.js"></script>
        <script src="~/plugins/datatables/responsive.bootstrap4.min.js"></script>

        <script src="~/plugins/morris/morris.min.js"></script>
        <script src="~/plugins/raphael/raphael.min.js"></script>

        <!-- Datatable init js -->
        <script src="~/assets/pages/datatables.init.js"></script>   

        <!-- App js -->
        <script src="~/assets/js/app.js"></script>

        <!-- App js -->
      @*  <script src="~/assets/js/app.js"></script>*@



        <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
        <script type="text/javascript">
          google.charts.load('current', {'packages':['corechart']});
          google.charts.setOnLoadCallback(drawChart);

          function drawChart() {

               $.ajax({
                    type: "GET",
                    url: "/Administrators/GetActiveUsersChartJSON",
                    success: function (chartdata) {
                        var Data = chartdata;

                       //console.log(Data);
                        

                        var data = google.visualization.arrayToDataTable([
                          ['Task', 'Hours per Day'],
                          ['Active ('+Data[0].count+')', Data[0].count],
                          ['Inactive ('+Data[1].count+')',  Data[1].count],
              
                        ]);

                        var options = {
                          title: 'User Activities',
                          is3D: true,
                          slices: {
                                0: { color: '#45b6b7' },
                                1: { color: '#497786' }
                              }
                        };

                        if(Data[0].count == 0){

                            var div = document.getElementById('piechart');

                            div.innerHTML += 'Sorry, not info available';
                         
                        }else{
                            var chart = new google.visualization.PieChart(document.getElementById('piechart1'));
                            chart.draw(data, options);        
                        }
                      

                        },
                        error: function (jqXhr, textStatus, errorMessage) {
                            alert(errorMessage);
                        }

                    });

                    }
        </script>

      <script type="text/javascript">
          google.charts.load('current', {'packages':['corechart']});
          google.charts.setOnLoadCallback(drawChart);

          function drawChart() {

               $.ajax({
                    type: "GET",
                    url: "/Administrators/GetOnlineUsersChartJSON",
                    success: function (chartdata) {
                        var Data = chartdata;

                       //console.log(Data);
                        

                        var data = google.visualization.arrayToDataTable([
                          ['Task', 'Hours per Day'],
                          ['Online ('+Data[0].count+')', Data[0].count],
                          ['Offline ('+Data[1].count+')',  Data[1].count],
              
                        ]);

                        var options = {
                          title: 'User Pressence',
                          is3D: true,
                          slices: {
                                0: { color: '#990099' },
                                1: { color: '#FF9900' }
                              }
                        };

                        if(Data[0].count == 0){

                            var div = document.getElementById('piechart');

                            div.innerHTML += 'Sorry, not info available';
                         
                        }else{
                            var chart = new google.visualization.PieChart(document.getElementById('piechart2'));
                            chart.draw(data, options);        
                        }
                      

                        },
                        error: function (jqXhr, textStatus, errorMessage) {
                            alert(errorMessage);
                        }

                    });

                    }
        </script>
     
        <script>

              $.ajax({
                    type: "GET",
                    url: "/Administrators/GetPostsCommentsChartJSON",
                    success: function (chartdata) {
                        var Data = chartdata;

            const monthNames = ["", "Jan", "Feb", "Mar", "Apr", "May", "Jun",
                                "Jul", "Aug", "Sep", "Oct", "Nov", "Dec"
                    ];

          Morris.Area({
            element: 'morris-area-example',
            pointSize: 3,
            lineWidth: 2,
            data: Data,
            xkey: 'y',
            parseTime: false,
            ykeys: ['totalPosts', 'totalComments'],
            xLabelFormat: function (x) {
            var index = parseInt(x.src.y);
            return monthNames[index];
            },
            xLabels: "month",
            labels: ['Posts', 'Comments'],
            resize: true,
            hideHover: 'auto',
            gridLineColor: '#eef0f2',
            lineColors: ['#30419b', '#02c58d']
          });

           },
                        error: function (jqXhr, textStatus, errorMessage) {
                            alert(errorMessage);
                        }

                    });
        </script>

        <script>
            $(document).ready(function() {
                $('.js-example-basic-single').select2();
            });
        </script>


        @await RenderSectionAsync("Scripts", required: false)

        
    </body>

</html>