

@{
    ViewData["Title"] = "Dashboard";
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">

<head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
        <title>Aluta - Dashboard</title>
        <meta content="Aluta" name="description" />
        <meta content="Aluta" name="author" />
        <link rel="shortcut icon" href="~/assets/images/favicon.ico">


        <link href="~/assets/css/bootstrap.min.css" rel="stylesheet" type="text/css">
        <link href="~/assets/css/metismenu.min.css" rel="stylesheet" type="text/css">
        <link href="~/assets/css/icons.css" rel="stylesheet" type="text/css">
        <link href="~/assets/css/style.css" rel="stylesheet" type="text/css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.min.css" integrity="sha512-/zs32ZEJh+/EO2N1b0PEdoA10JkdC3zJ8L5FTiQu82LR9S/rOQNfQN7U59U9BC12swNeRAz3HSzIL2vpp4fv3w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
        <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.min.js" integrity="sha512-s+xg36jbIujB2S2VKfpGmlC3T5V2TF3lY48DX7u2r9XzGzgPsa6wTpOQA7J9iffvdeBN0q9tKzRxVxw1JviZPg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
         <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    </head>

    <body>

        <!-- Begin page -->
        <div id="wrapper">

            <!-- Top Bar Start -->
            <div class="topbar">

                <!-- LOGO -->
                <div class="topbar-left">
                    <a href="index.html" class="logo">
                        <span class="logo-light">
                            <i class="mdi mdi-camera-control"></i> Aluta
                        </span>
                        <span class="logo-sm">
                            <i class="mdi mdi-camera-control"></i>
                        </span>
                    </a>
                </div>

                <nav class="navbar-custom">
                    <ul class="navbar-right list-inline float-right mb-0">
                       

                        <li class="dropdown notification-list list-inline-item">
                            <div class="dropdown notification-list nav-pro-img">
                                <a class="dropdown-toggle nav-link arrow-none nav-user" data-toggle="dropdown" href="#" role="button" aria-haspopup="false" aria-expanded="false">
                                  
                                    Welcome, Name <i class="mdi mdi-account-circle mdi-36px"></i>
                                </a>
                                <div class="dropdown-menu dropdown-menu-right profile-dropdown ">
                                    <!-- item-->
                               
                                    <a class="dropdown-item text-danger" href="../../ApplicationRole/Logout"><i class="mdi mdi-power text-danger"></i> Logout</a>
                                </div>
                            </div>
                        </li>

                    </ul>

                    <ul class="list-inline menu-left mb-0">
                        <li class="float-left">
                            <button class="button-menu-mobile open-left waves-effect">
                                <i class="mdi mdi-menu"></i>
                            </button>
                        </li>
                        <li class="d-none d-md-inline-block">
                            <form role="search" class="app-search">
                                <div class="form-group mb-0">
                                    <input type="text" class="form-control" placeholder="Search..">
                                    <button type="submit"><i class="fa fa-search"></i></button>
                                </div>
                            </form>
                        </li>
                    </ul>

                </nav>

            </div>
            <!-- Top Bar End -->

            <!-- ========== Left Sidebar Start ========== -->
            <div class="left side-menu">
                <div class="slimscroll-menu" id="remove-scroll">

                    <!--- Sidemenu -->
                    <div id="sidebar-menu">
                        <!-- Left Menu Start -->
                        <ul class="metismenu" id="side-menu">
                           
                            <li>
                                <a href="../../Administrators/Dashboard" class="waves-effect">
                                    <i class="icon-accelerator"></i> <span> Dashboard</span>
                                </a>
                            </li>
                            
                            <li>
                                <a href="../../Administrators/Institutions" class="waves-effect">
                                    <i class="icon-mail-open"></i>
                                    <span> Institutions 
                                       
                                        </span></a>
                                
                            </li>

                            <li>
                                <a href="../../Administrators/Departments" class="waves-effect"><i class="icon-calendar"></i><span> Departments </span></a>
                            </li>

                              <li>
                                <a href="../../Administrators/Points" class="waves-effect"><i class="icon-calendar"></i><span> Points </span></a>
                            </li>
                             <li>
                                <a href="../../Administrators/UsersAccount" class="waves-effect"><i class="icon-calendar"></i><span> Users </span></a>
                            </li>
                             <li>
                                <a href="../../Administrators/Posts" class="waves-effect"><i class="icon-calendar"></i><span> Posts </span></a>
                            </li>

                             <li>
                                <a href="../../Administrators/Documents" class="waves-effect"><i class="icon-calendar"></i><span> Documents </span></a>
                            </li>

                             <li>
                                <a href="../../Trivias/Trivias" class="waves-effect"><i class="icon-calendar"></i><span> Trivias </span></a>
                            </li>

                             <li>
                                <a href="../../TGIFMatches/TGIFs" class="waves-effect"><i class="icon-calendar"></i><span> TGIFs </span></a>
                            </li>

                             <li>
                                <a href="../../TimeTables/TimeTables" class="waves-effect"><i class="icon-calendar"></i><span> TimeTables </span></a>
                            </li>

                             <li>
                                <a href="../../CGPAs/CGPAs" class="waves-effect"><i class="icon-calendar"></i><span> CGPAs </span></a>
                            </li>

                             <li>
                                <a href="../../DocumentComments/Index" class="waves-effect"><i class="icon-calendar"></i><span> DocumentComments </span></a>
                            </li>

                             <li>
                                <a href="../../Status/Index" class="waves-effect"><i class="icon-calendar"></i><span> Status </span></a>
                            </li>

                             <li>
                                <a href="../../Users/ActiveUsers" class="waves-effect"><i class="icon-calendar"></i><span> Active Users </span></a>
                            </li>

                             <li>
                                <a href="../../Users/InActiveUsers" class="waves-effect"><i class="icon-calendar"></i><span> InActive Users </span></a>
                            </li>

                             <li>
                                <a href="../../Notifications/Index" class="waves-effect"><i class="icon-calendar"></i><span> Notifications </span></a>
                            </li>

                             <li>
                                <a href="../../Promotions/Promotions" class="waves-effect"><i class="icon-calendar"></i><span> Promotions </span></a>
                            </li>

                            <li>
                                <a href="../../BannerAds/Index" class="waves-effect"><i class="icon-calendar"></i><span> BannerAds </span></a>
                            </li>

                            <li>
                                <a href="../../ChatGroups/Index" class="waves-effect"><i class="icon-calendar"></i><span> Chat Groups </span></a>
                            </li>

                            <li>
                                <a href="../../Messages/Messages" class="waves-effect"><i class="icon-calendar"></i><span> Messages </span></a>
                            </li>
                          
                                <li>
                                    <a href="javascript:void(0);" class="waves-effect"><i class="icon-paper-sheet"></i><span> User Management <span class="float-right menu-arrow"><i class="mdi mdi-chevron-right"></i></span> </span></a>
                                    <ul class="submenu">
                                
                                        <li><a href="../../ApplicationRole/AllUsers">Manage Users</a></li>

                                        <li><a href="../../ApplicationRole/AllRoles">Manage Roles</a></li>
                                
                                    </ul>
                                </li>
                            
                             

                        </ul>

                    </div>
                    <!-- Sidebar -->
                    <div class="clearfix"></div>

                </div>
                <!-- Sidebar -left -->

            </div>
            <!-- Left Sidebar End -->

            <!-- ============================================================== -->
            <!-- Start right Content here -->
            <!-- ============================================================== -->
            <div class="content-page">
                <!-- Start content -->
                <div class="content">
                    <div class="container-fluid">
                       

                  

                                @RenderBody()        

                        
                       
                    <!-- container-fluid -->

                </div>
                <!-- content -->

                <footer class="footer">
                    © 2022 Aluta.
                </footer>

            </div>
            <!-- ============================================================== -->
            <!-- End Right content here -->
            <!-- ============================================================== -->

        </div>
        <!-- END wrapper -->

        <!-- jQuery  -->
        <script src="~/assets/js/jquery.min.js"></script>
        <script src="~/assets/js/bootstrap.bundle.min.js"></script>
        <script src="~/assets/js/metismenu.min.js"></script>
        <script src="~/assets/js/jquery.slimscroll.js"></script>
        <script src="~/assets/js/waves.min.js"></script>

        <!-- chartjs js -->
        <script src="~/plugins/chartjs/chart.min.js"></script>
        <script src="~/assets/pages/chartjs.init.js"></script>     

        <!-- App js -->
        <script src="~/assets/js/app.js"></script>



        <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
        <script type="text/javascript">
          google.charts.load('current', {'packages':['corechart']});
          google.charts.setOnLoadCallback(drawChart);

          function drawChart() {

               $.ajax({
                    type: "GET",
                    url: "/Administrators/GetUsersChartJSON",
                    success: function (chartdata) {
                        var Data = chartdata;

                       //console.log(Data);
                        

                        var data = google.visualization.arrayToDataTable([
                          ['Task', 'Hours per Day'],
                          ['Active ('+Data[0].count+')', Data[0].count],
                          ['Inactive ('+Data[1].count+')',  Data[1].count],
              
                        ]);

                        var options = {
                          title: 'User Activities',
                          is3D: true,
                          slices: {
                                0: { color: '#990099' },
                                1: { color: '#FF9900' }
                              }
                        };

                        if(Data[0].count == 0){

                            var div = document.getElementById('piechart');

                            div.innerHTML += 'Sorry, not info available';
                         
                        }else{
                            var chart = new google.visualization.PieChart(document.getElementById('piechart'));
                            chart.draw(data, options);        
                        }

                        //var chart = new google.visualization.PieChart(document.getElementById('piechart'));

                        //chart.draw(data, options);
                      

                        },
                        error: function (jqXhr, textStatus, errorMessage) {
                            alert(errorMessage);
                        }

                    });

                    }
        </script>

     
      

        <script type="text/javascript">
          google.charts.load('current', {'packages':['corechart']});
          google.charts.setOnLoadCallback(drawChart);

          function drawChart() {


               $.ajax({
                    type: "GET",
                    url: "/Administrators/GetCommentsChartJSON",
                    success: function (chartdata) {
                        var Datax = chartdata;

                        //console.log(Datax);

                       // alert(Datax)

                        var data = google.visualization.arrayToDataTable([
                          ['Month', 'Months'],
                          ['Jan',  10],
                          ['Feb',  17],
                          ['Mar',  33],
                          ['Apr',  30],
                          ['May',  16],
                          ['Jun',  17],
                          ['Jul',  20],
                          ['Aug',  45],
                          ['Sep',  2],
                          ['Oct',  9],
                          ['Nov',  13],
                          ['Dec',  25]
                        ]);

                        var options = {
                          title: 'Comments',
                          curveType: 'function',
                          legend: { position: 'bottom' }
                        };

                        var chart = new google.visualization.LineChart(document.getElementById('curve_chart'));

                        chart.draw(data, options);

                },
                error: function (jqXhr, textStatus, errorMessage) {
                    alert(errorMessage);
                }

            });

          }
        </script>


         <script>

             $.ajax({
                    type: "GET",
                    url: "/Administrators/GetPostsChartJSON",
                    success: function (chartdata) {
                        var Data = chartdata;
                        //console.log(Data);

                        for (let i = 0; i < Data.length; i++) {

                            
                              if(Data[i].month === 1){
                                var janCount = Data[i].count
                                //console.log(janCount)
                              }
                              if(Data[i].month === 2){
                                var febCount = Data[i].count
                                //console.log(febCount)
                              }
                              if(Data[i].month === 3){
                                var marCount = Data[i].count
                                //console.log(marCount)
                              }
                              if(Data[i].month === 4){
                                var aprCount = Data[i].count
                                //console.log(aprCount)
                              }
                              if(Data[i].month === 5){
                                var mayCount = Data[i].count
                                //console.log(mayCount)
                              }
                              if(Data[i].month === 6){
                                var junCount = Data[i].count
                                //console.log(junCount)
                              }
                              if(Data[i].month === 7){
                                var julCount = Data[i].count
                                //console.log(julCount)
                              }
                              if(Data[i].month === 8){
                                var augCount = Data[i].count
                                //console.log(augCount)
                              }
                              if(Data[i].month === 9){
                                var sepCount = Data[i].count
                                //console.log(sepCount)
                              }
                              if(Data[i].month === 10){
                                var octCount = Data[i].count
                                //console.log(octCount)
                              }
                              if(Data[i].month === 11){
                                var novCount = Data[i].count
                                //console.log(novCount)
                              }
                              if(Data[i].month === 12){
                                var decCount = Data[i].count
                                //console.log(decCount)
                              }
                        }

                        const ctx = document.getElementById('barChart');
                            const myChart = new Chart(ctx, {
                                type: 'bar',
                                data: {
                                    labels: ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec'],
                                    datasets: [{
                                        label: '# of Posts',
                                        data: [janCount, febCount, marCount, aprCount, mayCount, junCount, julCount, augCount, sepCount, octCount, novCount, decCount],
                                        //data: [janCount, febCount, marCount, aprCount, mayCount, junCount, julCount, augCount, sepCount, octCount, novCount, decCount],
                                        backgroundColor: [
                                            'rgba(255, 99, 132, 0.2)',
                                            'rgba(54, 162, 235, 0.2)',
                                            'rgba(255, 206, 86, 0.2)',
                                            'rgba(75, 192, 192, 0.2)',
                                            'rgba(153, 102, 255, 0.2)',
                                            'rgba(255, 159, 64, 0.2)',
                                            'rgba(255, 99, 132, 0.2)',
                                            'rgba(54, 162, 235, 0.2)',
                                            'rgba(255, 206, 86, 0.2)',
                                            'rgba(75, 192, 192, 0.2)',
                                            'rgba(153, 102, 255, 0.2)',
                                            'rgba(255, 159, 64, 0.2)'
                                        ],
                                        borderColor: [
                                            'rgba(255, 99, 132, 1)',
                                            'rgba(54, 162, 235, 1)',
                                            'rgba(255, 206, 86, 1)',
                                            'rgba(75, 192, 192, 1)',
                                            'rgba(153, 102, 255, 1)',
                                            'rgba(255, 159, 64, 1)',
                                             'rgba(255, 99, 132, 1)',
                                            'rgba(54, 162, 235, 1)',
                                            'rgba(255, 206, 86, 1)',
                                            'rgba(75, 192, 192, 1)',
                                            'rgba(153, 102, 255, 1)',
                                            'rgba(255, 159, 64, 1)'
                                        ],
                                        borderWidth: 1
                                    }]
                                },
                                options: {
                                    scales: {
                                        y: {
                                            beginAtZero: true
                                        }
                                    }
                                }
                            });
                        },
                        error: function (jqXhr, textStatus, errorMessage) {
                            alert(errorMessage);
                        }

                    });

        </script>

 
        
    </body>

</html>