@model IEnumerable<AlutaApp.Models.PointsLog>

<table id="datatable" class="table table-bordered table-striped dt-responsive nowrap">
        <thead>
            <tr>
                <th><span class="text-muted">Point</span></th>
                <th><span class="text-muted">Reason</span></th>
                   <th><span class="text-muted">Date</span></th>                         
                                            
                <th width="10%"><span class="text-muted">Actions</span></th>
            </tr>
        </thead>
        <tbody id="search-results">
            @foreach (var item in Model) {

            <tr class="" data-id="16">
                <td >
                   @item.Points
                                                
                </td>
                                            
                <td>
                    @item.Reason
                </td>
                <td>
                    @item.DateCreated
                </td>
                                            
                <td>
                 
                     <div class="btn-group">
                        <i class="fas fa-ellipsis-v text-center cursor" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                       
                        </i>
                   
                        <div class="dropdown-menu shadow animated--grow-in">
                            <a style='margin-right:16px' href="../../Administrators/ViewPoint/@item.Id" class="dropdown-item">
                                <i class="fas fa-eye text-success"></i> View
                            </a>
                            <a style='margin-right:16px' href="../../Administrators/UpdatePoint/@item.Id" class="dropdown-item">
                                <i class="fas fa-edit text-warning"></i> Edit
                            </a>
                             
                        </div>

                    </div>
                </td>
            </tr>
        }
        </tbody>

    </table>
    <div>
                    
</div>


                              