@model IEnumerable<AlutaApp.Models.Post>
     

<br />
<h4>Posts</h4>

<table id="datatable" class="table table-bordered table-striped">
                                    <thead>
                                        <tr>
                                            <th><span class="text-muted">Content</span></th>
                    <th><span class="text-muted">Posted By</span></th>
                    <th><span class="text-muted">Created At</span></th>
                    <th><span class="text-muted">IsActive</span></th>
                    <th width="10%"><span class="text-muted">Action</span></th>
                                           
                                     
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var item in Model) {

                                        <tr>
                                            <td >
                                                @item.Content
                                            </td>
                                            <td >
                                                
                                                @item.User.FullName
                                            </td>

                                             <td >
                                               @item.TimeCreated
                                            </td>
                                            

                                             <td >
                                                @item.Active
                                            </td>

                                          
                                            
                                            <td>
                                           
                                                
                                                <div class="btn-group">
                                                <i class="fas fa-ellipsis-v text-center cursor" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                       
                                                </i>
                   
                                                <div class="dropdown-menu shadow animated--grow-in">
                                                    <a style='margin-right:16px' href="../../Administrators/ViewPost/@item.Id" class="dropdown-item">
                                                        <i class="fas fa-eye text-success"></i> View
                                                    </a>
                                                   
                                                     <a style='margin-right:16px' href="../../Administrators/DeletePost/@item.Id" class="dropdown-item">
                                                        <i class="fas fa-trash text-danger"></i> Delete
                                                    </a>
                                                </div>

                                                </div>
                                            </td>   
                                        </tr>
                                   }
                                    </tbody>

                                </table>
                                <div>
               
                   </div>
                              