@model AlutaApp.Models.AlutaApp.Models.User
<br />
<h5>Search User</h5>
<div class="search-bar">
   
        <div class="input-group mb-12">
                                               
                                                <input type="text" asp-for="FullName" id="activeUserSearch" class="form-control col-8" placeholder="Supply FullName or Level or Gender" aria-label="FullName" aria-describedby="basic-addon1">
                                            </div>
                                          
       
    
</div>

