@model AlutaApp.Models.Points2Earn
<br />
<h5>Search Points</h5>
<div class="search-bar">
   
        <div class="input-group mb-12">
                                               
                                                <input type="text" name="Category" id="SearchPoint" class="form-control col-12" placeholder="Input Category" aria-label="Point" aria-describedby="basic-addon1">
                                            </div>
                                          
       
    
</div>

