@model AlutaApp.Models.Post
<br />
<h5>Posts</h5>
<div class="search-bar">
   
    <div class="input-group mb-12">
                                               
        <input type="text" name="Post" id="postSearch" class="form-control col-12" placeholder="Input Post Content" aria-label="Post" aria-describedby="basic-addon1">
    </div>
                                          
</div>



