@model IEnumerable<AlutaApp.Models.Institution>
<br />
<h5>Institutions</h5>

<div class="col-md-8">

    <div class="table-responsive">
        <table id="datatable" class="table table-theme table-row v-middle" data-plugin="dataTable">
            <thead>
                <tr>
                    <th><span class="text-muted">Name</span></th>
                    <th><span class="text-muted">Abbreviation</span></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model) {
                <tr class="" data-id="16">
                    <td style="min-width:30px;text-align:center">@item.Name</td>
                    <td>@item.Abbreviation</td>
                
                    <td>
                    <div class="item-action dropdown">
                        <a href="#" data-toggle="dropdown" class="text-muted"><i data-feather="more-vertical"></i></a>
                        <div class="dropdown-menu dropdown-menu-right bg-black" role="menu">
                            <a class="dropdown-item" href="../../Administrators/ViewDetails/@item.Id" id="viewInstitution">
                                View
                            </a>
                                                       
                            <a class="dropdown-item edit" href="../../Administrators/Edit/@item.Id" id="editInstitution">
                                Update
                            </a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item trash" href="../../Administrators/DeleteInstitution/@item.Id" id="deleteInstitution">
                                Delete
                            </a>
                        </div>
                    </div>
                    </td>
                </tr>
                   }            
            </tbody>
        </table>

     </div>

 </div>

