@model IEnumerable<AlutaApp.Models.Trivia>

<table id="datatable" class="table table-theme table-row v-middle" data-plugin="dataTable">
                                    <thead>
                                        <tr>
                                            <th><span class="text-muted">Play Date</span></th>
                                            
                                            <th></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var item in Model) {

                                        <tr class="" data-id="16">
                                            <td >
                                                <small class="text-muted">@item.PlayDate</small>
                                            </td>  
                                            
                                            <td>
                                                <div class="item-action dropdown">
                                                    <a href="#" data-toggle="dropdown" class="text-muted">
                                                        <i data-feather="more-vertical"></i>
                                                    </a>
                                                    <div class="dropdown-menu dropdown-menu-right bg-black" role="menu">
                                                        <a class="dropdown-item" href="../../Trivias/Details/@item.Id" id="viewInstitution">
                                                            View
                                                        </a>
                                                        <a class="dropdown-item edit" href="../../Trivias/EditTrivia/@item.Id" id="editInstitution">
                                                            Update
                                                        </a>
                                                       
                                                        <a class="dropdown-item edit" href="../../Trivias/DeleteTrivia/@item.Id" id="editInstitution">
                                                            Delete  
                                                        </a>
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
                                   }
                                    </tbody>

                                </table>
                                <div>
                                    
               
                                </div>


                              