@model IEnumerable<AlutaApp.Models.Trivia>

<table id="datatable" class="table table-bordered table-striped table-row v-middle" data-plugin="dataTable">
                                    <thead>
                                        <tr>
                                            <th><span class="text-muted">Play Date</span></th>
                                            
                                            <th width="10%"><span class="text-muted">Actions</span></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var item in Model) {

                                        <tr class="" data-id="16">
                                            <td >
                                                @item.PlayDate
                                            </td>  
                                            
                                            <td>
                                                @*<div class="item-action dropdown">
                                                    <a href="#" data-toggle="dropdown" class="text-muted">
                                                        <i data-feather="more-vertical"></i>
                                                    </a>
                                                    <div class="dropdown-menu dropdown-menu-right bg-black" role="menu">
                                                        <a class="dropdown-item" href="../../Trivias/Details/@item.Id" id="viewInstitution">
                                                            View
                                                        </a>
                                                        <a class="dropdown-item edit" href="../../Trivias/EditTrivia/@item.Id" id="editInstitution">
                                                            Update
                                                        </a>
                                                       
                                                        <a class="dropdown-item edit" href="../../Trivias/DeleteTrivia/@item.Id" id="editInstitution">
                                                            Delete  
                                                        </a>
                                                    </div>
                                                </div>*@
                                                <div class="btn-group">
                                                <i class="fas fa-ellipsis-v text-center cursor" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                       
                                                </i>
                   
                                                <div class="dropdown-menu shadow animated--grow-in">
                                                    <a style='margin-right:16px' href="../../Trivias/Details/@item.Id" class="dropdown-item">
                                                        <i class="fas fa-eye text-success"></i> View
                                                    </a>

                                                    <a style='margin-right:16px' href="../../Trivias/Edit/@item.Id" class="dropdown-item">
                                                        <i class="fas fa-edit text-warning"></i> Edit
                                                    </a>
                                                   
                                                     <a style='margin-right:16px' href="../../Trivias/Delete/@item.Id" class="dropdown-item">
                                                        <i class="fas fa-trash text-danger"></i> Delete
                                                    </a>
                                                </div>

                                                </div>
                                            </td>
                                        </tr>
                                   }
                                    </tbody>

                                </table>
                                <div>
                                    
               
                                </div>


                              