@model IEnumerable<AlutaApp.Models.User>

@{
    ViewData["Title"] = "InActiveUsers";
    Layout = "~/Views/Shared/_LayoutDashboard.cshtml";
}
<div id="content" class="flex ">
                <!-- ############ Main START-->
                <div>
                    <div class="page-hero page-container " id="page-hero">
                        <div class="padding d-flex">
                            <div class="page-title">
                                <h2 class="text-md text-highlight">Inactive Users</h2>
                                <small class="text-muted"></small>
                                <br />
                                <div>
                                @{
                                    var users = new AlutaApp.Models.User();
                            await Html.RenderPartialAsync("_SearchUserAccountPartial", users);

                        }
                            </div>
                            </div>
                            
                            
                        </div>
                    </div>
       
        <div class="page-content page-container" id="page-content">
                        <div class="padding">
                <div class="table-responsive">@{

                        await Html.RenderPartialAsync("_UserListPartial", Model);

                    }
                    
                                </div>
                                </div></div>
                               </div>
                                
                                </div>
                               

<script src="~/libs/jquery/dist/jquery.min.js"></script>
<script>
$(document).ready(function() {
    $("#userSearch").keydown(function() {
        var text = this.value;
        console.log(text);
        $.ajax({
            type: "GET",
            url: "/Users/SearchInActiveUsers?searchText="+text,
            contentType:"html",
            success: function(data) {
                //debugger;
                $("#search-results").html(data);
            }, error:function(err) {
                console.log(err);
            }
        })
    })
})
</script>