@using AlutaApp.ViewModels
@model UserListViewModel

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_LayoutDashboard.cshtml";
}

<div class="col-sm-12">
    <div class="card">
        <div class="card-header">
             <h3> Create Notification</h3>
        </div>

        <div class="card-body">
   
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label class="control-label">Users</label>
                <select asp-name="UserId" class ="form-control js-example-basic-single" asp-items="@Model.Users">

                </select>
            </div>
            <div class="form-group">
                <label class="control-label">Content</label>
                <input name="Content" class="form-control" />
               
            </div>
            <div class="form-group">
                <label class="control-label">Category</label>
                <input name="Category" class="form-control" />
               
            </div>
            <div class="form-group">
                <label  class="control-label">CategoryId</label>
                <input name="CategoryId" type="number" class="form-control" />
               
            </div>
            <div class="form-group">
                <label  class="control-label">SecondPartyId</label>
                <input name="SecondPartyId" class="form-control" />
                
            </div>
            <div class="form-group">
                <label class="control-label">ThirdPartyId</label>
                <input name="ThirdPartyId" class="form-control" />
              
            </div>
            
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-success" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>
        </div>
        
    </div>                               
</div>

