@{  
    ViewData["Title"] = "Access Denied";  
    Layout = "~/Views/Shared/_LayoutDashboard.cshtml";  
} 

 <div class="page-title-box">
        <div class="row align-items-center">
            <div class="col-sm-6">
                <h4 class="page-title">Access Denied</h4>
            </div>
                              
        </div> <!-- end row -->
    </div>
    <!-- end page-title -->

    <div class="row">
  
        <div class="col-sm-12 col-xl-12">

            <h4 class="bg-danger mb-1 p-2 mb-4 text-white">Sorry! Access Denied</h4>
            <a asp-action="Dashboard" asp-controller="Administrators" class="btn btn-lg btn-success">OK</a>

        </div>
    </div>